.bg-blur {
    background-image: url('/src/assets/ISAMMBackground.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* Assurez-vous que l'image de fond soit derrière le contenu */
}